<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Font  -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- Bootstrap CDN  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/index.css">
  <title>Home Page</title>
</head>

<body>

  <!-- navbar  -->
  <!-- <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <%# if(!verified){ %>
          <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
            <strong>ATTENTION !</strong> Please verify your account to continue using our services.
            <a href="/user/send-verification-email">Re-send Verification Email</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    
          </div>
          <%# } else { %>    
              <div class="profile">
                <img
                  src="https://images.pexels.com/photos/917494/pexels-photo-917494.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                  class="profile-pic" alt="...">
                <div class="profile-name">
                  <h3>
                    <%#= username %>
                  </h3>
                </div>
              </div>
            <%#}%>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  <!-- navbar end  -->

  <div class="heading">
    <h1> Stories of Success </h1>
  </div>

  <main>
    <div class="slider">

      <div class="buttons">
        <div class="previous"></div>
        <div class="next"></div>
      </div>

      <div class="slide">
        <div class="testimonial">
          <blockquote>“ Nina has lived most of her young life in homes that didn’t provide love or adequate care until recently. This left her anxious and unable to speak. But after spending time with Armando, she has found her confidence and is excelling in school. Together with Nina’s social worker, Armando was also able to help Nina’s caregiver access resources that enabled them to obtain permanent housing and legal guardianship. ”</blockquote>
          <p class="author">Tanya Sinclair
            <span>UX Engineer</span>
          </p>
        </div>

        <div class="slider-img">
          <img src="https://alcs-slider.netlify.app/images/image-tanya.jpg" alt="Author Image">
        </div>

      </div>

      <!-- <div class="slide">
        <div class="testimonial">
          <blockquote>“ I’ve been interested in coding for a while but never
            taken the jump, until now.
            I couldn’t recommend this course enough. I’m now in the job of my
            dreams and so excited about the future. ”</blockquote>
          <p class="author">Tanya Sinclair
            <span>UX Engineer</span>
          </p>
        </div>

        <div class="slider-img">
          <img src="https://alcs-slider.netlify.app/images/image-john.jpg" alt="Author Image">
        </div>

      </div> -->

      <div class="slide">
        <div class="testimonial">
          <blockquote>“ Saniya, 12, and Christopher, Jr., 8, from our San Pedro Clinic, are siblings from a very special family. Individually and as a family they’ve experienced challenges, but are stronger because their parents, Sausha and Christopher, are committed to building a bright future for their family of six together. A part of that commitment is ensuring that their children get the help they need to thrive. ”</blockquote>
          <p class="author">Tanya Sinclair
            <span>UX Engineer</span>
          </p>
        </div>

        <div class="slider-img">
          <img src="https://alcs-slider.netlify.app/images/image-tanya.jpg" alt="Author Image">
        </div>

      </div>

      <div class="slide">
        <div class="testimonial">
          <blockquote>“ Since 2011 and several times prior to that I was abused. Emotionally, mentally, verbally, but mostly physically. I couldn’t control my heart. I thought I was in love. I was broken down and told how I wasn’t good enough. I was told nobody would want me. That I was crazy and it was always my fault. I was blamed for the abuse. I was told I brought it upon myself. I wasn’t strong enough to leave. I was weak and manipulated to think they could change. I believed the sorry’s every time. I thought I wasn’t going to make it on my own as a single mom. ”</blockquote>
          <p class="author">Tanya Sinclair
            <span>UX Engineer</span>
          </p>
        </div>

        <div class="slider-img">
          <img src="https://alcs-slider.netlify.app/images/image-john.jpg" alt="Author Image">
        </div>

      </div>

      <div class="slide">
        <div class="testimonial">
          <blockquote>“ Five year- old Brandon is often described as precocious, a feisty ball of energy. When he came to The Guidance Center, he was defiant and had frequent temper tantrums. He was also oppositional and had a hard time with limits. Brandon’s mom is a single parent with limited support and is living in a stressful family environment; as a result, Brandon struggled and acted out.”</blockquote>
          <p class="author">John Tarkpor
            <span>Junior Front-end Developer</span>
          </p>
        </div>

        <div class="slider-img">
          <img src="https://alcs-slider.netlify.app/images/image-tanya.jpg" alt="Author Image">
        </div>

      </div>

    </div>

  </main>


  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

</body>
<script src="/js/style.js"></script>
</html>