@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
    padding-top:1rem ;
    font-family: Roboto, "Helvetica Neue";
}

.heading h1{
    width:fit-content;
    margin: auto;
    font-size: 3rem;
}

body{
    overflow:hidden;
}

 main {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 16px;
}
main .slider .buttons {
  z-index: 1;
  right: 50%;
  top: 261px;
  width: 80px;
  height: 40px;
  position: absolute;
  border-radius: 50px;
  transform: translateX(50%);
  background-color: #FFFFFF;
}
main .slider .buttons .previous,
main .slider .buttons .next {
  width: 50%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
main .slider .buttons .previous {
  left: 0;
  background-image: url("https://alcs-slider.netlify.app/images/icon-prev.svg");
}
main .slider .buttons .previous:hover {
  transform: scale(1.25);
}
main .slider .buttons .next {
  right: 0;
  background-image: url("https://alcs-slider.netlify.app/images/icon-next.svg");
}
main .slider .buttons .next:hover {
  transform: scale(1.25);
}
main .slider .slide {
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
main .slider .slide .testimonial {
  padding: 32px 51px;
  background-size: 60px;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(https://alcs-slider.netlify.app/images/pattern-quotes.svg);
}
main .slider .slide .testimonial blockquote {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 36px;
}
main .slider .slide .testimonial .author {
  font-size: 15px;
  font-weight: 700;
}
main .slider .slide .testimonial .author span {
  display: block;
  color: #babacf;
  font-weight: 500;
}
 main .slider .slide .slider-img {
  width: 100%;
  padding: 30px;
  display: flex;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(https://alcs-slider.netlify.app/images/pattern-bg.svg);
}
 main .slider .slide .slider-img img {
  width: 240px;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 16px 40px 0px rgba(135, 105, 210, 0.4);
}
 main .slider .slide .active {
  opacity: 1;
  transform: translateX(0) scale(1);
  transition-delay: 0.4s;
}
 footer {
  font-size: 11px;
  text-align: center;
}
 footer a {
  color: #3e52a3;
}
 .hide {
  display: none;
}

@media screen and (min-width: 600px) {
   main {
    max-width: 800px;
  }
   main .slider .buttons {
    top: 280px;
  }
}
@media screen and (min-width: 900px) {
   main {
    width: 100%;
    max-width: 1054px;
    padding: 64px 64px 64px 0;
  }
   main .slider .buttons {
    right: 43%;
    top: 500px;
  }
   main .slider .slide {
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: row;
  }
   main .slider .slide .testimonial {
    padding: 32px 0 0 0;
    background-size: 80px;
    background-position: 19% -7%;
    transform: translateX(100px);
  }
   main .slider .slide .testimonial blockquote {
    font-size: 24px;
    line-height: 30px;
  }
   main .slider .slide .testimonial .author span {
    display: contents;
  }
   main .slider .slide .slider-img {
    padding: 55px;
  }
   main .slider .slide .slider-img img {
    width: 400px;
  }
}

/* body {
  font-family: 'Recursive', sans-serif;
  font-size: larger;
} */

.customborder {
  border-radius: 2%;
  border: 2px solid #E95420;
}

.profile{
    display:flex;
    justify-content: space-between;
}

.profile-pic{
    border-radius:50%;
    width: 50px;
    height: 50px;
}

.profile-name{
    display:flex;
    align-items: center;
    margin-left: 0.8rem;
}